.main {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -150px;
  min-width: 300px;
  text-align: center;
}

.name {
  font-size: 50px;
}

.about {
  margin-top: 30px;
}

.links {
  margin-top: 30px;
}

.links__item {
  display: inline-block;
  margin-right: 10px;
}

.links__link {
  color: green;
}

.links__link:hover {
  color: green;
}
