@import './reset.css';

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.name {
  font-size: 3rem;
  text-align: center;
}

.about {
  margin-top: 2rem;
  text-align: center;
}

.links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.links__item {
  margin-left: 0.5rem;
}

.links__item:first-child {
  margin-left: 0;
}

.links__link {
  color: green;
}

.links__link:hover {
  color: green;
}
